aiohttp==3.7.3
aiohttp-apispec==2.2.1
aiohttp-cors==0.7.0
aiohttp-jinja2==1.4.2
aiopg==1.1.0
alembic==1.5.2
certifi==2020.12.5
click==7.1.2
marshmallow==3.10.0
marshmallow-dataclass==8.0.0
nltk==3.5
PyYAML==5.4.1
regex==2020.11.13
textblob==0.15.3
aiomongo==0.1
